# ========= المستخدمون =========
# games اختيارية. إذا حذفتها يسمح للمفتاح في العقدين.
USERS_JSON={"AWR-2026":{"enabled":true,"exp":"2026-12-31 23:59:59","serial":"*","games":["PUBG","VIP"]}}

# ========= V10 =========
V10_APP_VERSION=1.0.0
V10_TOKEN_SALT=Vm8Lk7Uj2JmsjCPVPVjrLa7zgfx3uz9E
V10_RESOURCE_VERSION=5

# ========= V2 =========
V2_TOKEN_SALT=ABUFAHADTOP
V2_RESOURCE_VERSION=5
V2_APP_VERSION=4.5
# اتركه فارغاً ما دامت version تساوي نسخة التطبيق ولا تريد تحديث APK.
V2_UPDATE_URL=

# ========= V2 startup verify =========
VERIFY_LICENSE_KEY=FAHAD41
VERIFY_PACKAGE=pubgm.loader
# للتجربة الأولى فقط: * يقبل أي بصمة توقيع.
# بعد توقيع APK النهائي ضع MD5 التوقيع الحقيقي بدل *.
VERIFY_SIGNATURE_MD5=*
